.RestaurantProfilePage {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* You can adjust alignment as needed */
    padding: 20px;
    min-height: 100vh;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%; /* Adjust as needed */
  }
  
  .shopping-cart-section {
    width: 40%; /* Adjust the width as needed */
    min-height: 100%;
  }