
.AuthPage {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
}

.AuthPage h1 {
  margin-top: 20px;
  text-align: center;
  color: rgba(241, 1, 1, 0.847);
  cursor: pointer;
}

.AuthPage div {
  text-align: center;
}

.auth-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
