.OrderDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color); /* Change to your desired background color */
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%; /* Adjust as needed */
  max-width: 800px; /* Set a maximum width */
  background-color: var(--white);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: 3vmin;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.line-item-container {
  margin-bottom: 2vmin;
  height: calc(100vh - 18vmin); /* Adjust to account for the footer and other sections */
  overflow-y: auto;
  /* overflow-x: hidden; */
  white-space: nowrap; 
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 0;
  font-size: 1vw;
  color: var(--text-dark);
  border-top: .1vmin solid var(--tan-3);
}

.checkout-btn {
  align-self: center;
  padding: 1vmin 2vmin;
  font-size: 1vw;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 1vmin;
  cursor: pointer;
}
