.MenuListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.MenuListItem .item-description {
  font-size: 1.5vmin; /* Adjust as needed */
  text-align: left;
  color: light gray); /* Define your light grey color here */
  margin-top: 1vmin;
}

.MenuListItem .buy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.MenuListItem .buy span {
  font-size: 2vmin; /* Adjust as needed */
  text-align: right;
  color: var(--text-light);
  margin-bottom: 1vmin;
}

.MenuListItem .name {
  font-size: 2.5vmin; /* Adjust as needed */
  text-align: left;
  font-weight: bold;
  color: var(--text-light);
}

.MenuListItem .buy .plus-button {
  font-size: 2.5vmin; /* Adjust as needed */
  width: 3.5vmin; /* Adjust width and height for the button size */
  height: 3.5vmin;
  border: none;
  color: var(--white); /* Set button text color */
  border-radius: 50%; /* Create a circular shape */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
}

.MenuListItem .buy .plus-button:hover {
  transform: scale(1.1); /* Enlarge slightly on hover */
}
