.business-details {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    margin-bottom: 2rem; /* Add some margin to separate from the categories */
  }
  
  .profile-image {
    width: 100%; /* Make the image span the entire width */
    max-height: 300px; /* Set a maximum height for the image */
    object-fit: cover; /* Keep the image aspect ratio and cover the container */
    margin-bottom: 1rem; /* Add some spacing below the image */
  }
  
  .restaurant-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .details {
    display: flex;
    justify-content: center; /* Center the spans horizontally */
    gap: 1rem; /* Add spacing between spans */
    font-size: 1.2rem;
  }
  